<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bệnh viện Da Liễu TP.HCM</title>
  <link rel="stylesheet" href="css/bs4.css">
  <link rel="stylesheet" href="css/style.css">
</head>