<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bệnh viện Da Liễu TP.HCM</title>
    <link rel="stylesheet" href="css/bs4.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="wapper-inner mt-4 mb-5">
                <div class="logo">
                    <img src="./images/logo-dalieu.png" alt="logo" />
                </div>
                <h1 class="title">PHIẾU ĐIỀU TRA DỊCH TỄ LIÊN QUAN ĐẾN DỊCH BỆNH COVID-19
                    TẠI BỆNH VIỆN DA LIỄU TP. HỒ CHÍ MINH
                </h1>
                <form class="form">
                    <ul>
                        <li>
                            <div class="form-group">
                                <label for="name">Họ và tên</label>
                                <input type="text" placeholder="Vui lòng nhập họ và tên" class="form-control" id="name" aria-describedby="namelHelp">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="date">Ngày tháng năm sinh</label>
                                <input type="text" class="form-control" id="date" placeholder="Vui lòng nhập ngày / tháng / năm">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="date">Giới tính</label>

                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                        id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="job">Nghề nghiệp</label>
                                <input type="text" class="form-control" id="job" placeholder="Vui lòng nhập nghề nghiệp">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="cmt">CMT/CCCD/Quốc tịch:</label>
                                <input type="text" class="form-control" placeholder="Vui lòng nhập CMT/CCCD/Quốc tịch" id="cmt">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="cmt">Địa chỉ hiện tại:</label>
                                <input type="text" placeholder="Vui lòng nhập địa chỉ hiện tại" class="form-control" id="cmt">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="cmt">Số điện thoại:</label>
                                <input type="text" placeholder="Vui lòng nhập số điện thoại" class="form-control" id="cmt">
                            </div>
                        </li>
                        <li>
                            <div class="form-group">
                                <label for="cmt">Trong vòng 14 ngày (tính đến thời điểm hiện tại), Anh/Chị có
                                    thấy xuất hiện dấu hiệu nào sau đây không?</label>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Triệu chứng</th>
                                            <th scope="col">Có</th>
                                            <th scope="col">Không</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Sốt</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="sot"
                                                        id="sot_yes" value="option">
                                                    <label class="form-check-label" for="sot_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="sot"
                                                        id="sot_no" value="option2">
                                                    <label class="form-check-label" for="sot_no">
                                                        Không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ho khang</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ho"
                                                        id="ho_yes" value="option3">
                                                    <label class="form-check-label" for="ho_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="ho"
                                                        id="ho_no" value="option4">
                                                    <label class="form-check-label" for="ho_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Khó thở</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tho"
                                                        id="tho_yes" value="option5">
                                                    <label class="form-check-label" for="tho_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tho"
                                                        id="tho_no" value="option6">
                                                    <label class="form-check-label" for="tho_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Đau họng</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="hong"
                                                        id="hong_yes" value="option7">
                                                    <label class="form-check-label" for="hong_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="hong"
                                                        id="hong_no" value="option4">
                                                    <label class="form-check-label" for="hong_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Nôn/ Buồn nôn</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="non"
                                                        id="non_yes" value="option7">
                                                    <label class="form-check-label" for="non_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="non"
                                                        id="non_no" value="option4">
                                                    <label class="form-check-label" for="non_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Tiêu chảy</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tieuchay"
                                                        id="tieuchay_yes" value="option7">
                                                    <label class="form-check-label" for="tieuchay_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tieuchay"
                                                        id="tieuchay_no" value="option4">
                                                    <label class="form-check-label" for="tieuchay_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Xuất huyết ngoài da</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="xh"
                                                        id="xh_yes" value="option7">
                                                    <label class="form-check-label" for="xh_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="xh"
                                                        id="xh_no" value="option4">
                                                    <label class="form-check-label" for="xh_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Nổi ban ngoài da</td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nb"
                                                        id="nb_yes" value="option7">
                                                    <label class="form-check-label" for="nb_yes">
                                                        Có
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nb"
                                                        id="nb_no" value="option4">
                                                    <label class="form-check-label" for="nb_no">
                                                        không
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            Trong vòng 14 ngày qua, Anh/Chị có:
                            <table class="table">

                                <tbody>
                                    <tr>

                                        <td>a) Sống/đi/đến các vùng đã xác định có trường hợp mắc bệnh COVID-19
                                            trong lãnh thổ Việt Nam không?
                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="go"
                                                        id="go_yes" value="option">
                                                    <label class="form-check-label" for="go_yes">
                                                        Có
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="go"
                                                        id="go_no" value="option2">
                                                    <label class="form-check-label" for="go_no">
                                                        Không
                                                    </label>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td>b) Đi ra nước ngoài, đặc biệt đến những nước đang bùng phát dịch
                                            COVID-19 (Trung Quốc, Ý, Châu Âu, Iran, Hàn Quốc,…)
                                            không?
                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="out"
                                                        id="out_yes" value="option">
                                                    <label class="form-check-label" for="out_yes">
                                                        Có
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="out"
                                                        id="out_no" value="option2">
                                                    <label class="form-check-label" for="out_no">
                                                        Không
                                                    </label>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>
                                            <div class="mt-2">
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Nếu có, ghi rõ
                                                        những nơi đã đi:</label>
                                                    <textarea class="form-control"
                                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label for="gotime">Thời gian đi và về:</label>
                                                <input type="text" class="form-control" id="gotime"
                                                    aria-describedby="gotime" placeholder="Vui lòng nhập thời gian đi và về ( nếu có ) ">
                                            </div>
                                            <div class="form-group">
                                                <label for="vnair">Số hiệu chuyến bay:</label>
                                                <input type="text" class="form-control" id="vnair"
                                                    aria-describedby="vnair" placeholder="Vui lòng nhập số hiệu chuyến bay ( nếu có ) ">
                                            </div>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>c) Tiếp xúc trực tiếp hoặc gần (< 2m) với trường hợp xác định hoặc nghi ngờ mắc bệnh COVID-19, hoặc người đi từ nước ngoài về không?
                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tx"
                                                        id="tx_yes" value="option">
                                                    <label class="form-check-label" for="tx_yes">
                                                        Có
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tx"
                                                        id="tx_no" value="option2">
                                                    <label class="form-check-label" for="tx_no">
                                                        Không
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="tx"
                                                        id="tx_nobiet" value="option2">
                                                    <label class="form-check-label" for="tx_nobiet">
                                                        Không biết
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>d) Có sử dụng phương tiện giao thông công cộng hoặc đến chỗ đông người, chỗ có nguy cơ lây nhiễm trong vòng 2 tuần qua nhưng không đeo khẩu trang hoặc không sát khuẩn tay không?

                                            <div class="mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gt2"
                                                        id="gt2_yes" value="option">
                                                    <label class="form-check-label" for="gt2_yes">
                                                        Có
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gt2"
                                                        id="gt2_no" value="option2">
                                                    <label class="form-check-label" for="gt2_no">
                                                        Không
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gt2"
                                                        id="gt2_nobiet" value="option2">
                                                    <label class="form-check-label" for="gt2_nobiet">
                                                        Không biết
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                  <p class="text-center">
                    <button type="submit" class="btn btn-primary btn-send">Gửi thông tin</button>
                  </p>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>