body{
    margin: 0;
    padding: 0;
}
.wapper-inner{
    max-width: 992px;
    margin: 0 auto;
}
.logo{
    margin:15px;
}
.logo,.qrcode{
    text-align:center;
}
.logo img,.qrcode img{
    width: 100%;
    max-width: 350px;
}
.qrcode{
    width:250px;
    margin:0 auto;
}
.title{
        font-size: 1.5rem;
    max-width: 722px;
    margin: 0 auto;
    text-align: center;
    text-transform:uppercase;
}
.form ul li{
    list-style-type: decimal;
}
.btn-send{
    width: 350px;
    padding: 10px 15px;
}
.text-qr{
    font-size:14px;
}
@media(max-width:600px){
    .title{
        font-size:1rem;
    }
}