<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bệnh viện Da Liễu TP.HCM</title>
    <link rel="stylesheet" href="css/bs4.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class='main wapper'>
      <div class='container'>
        <% if (bookings.length > 0) { %>
          <table class='table'>
            <thead>
              <tr>
                <th>ID</td>
                <th>CODE</td>
                <th>PaymentID</td>
              </tr>
            </thead>
            <tbody>
              <% bookings.forEach((booking, index) => { %>
                <tr>
                  <td><p><%= booking.id %></p></td>
                  <td><p><%= booking.transaction_code_gd %></p></td>
                  <td><p><%= booking.payment_id %></p></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else { %>
          <p>Have not bookings</p>
        <% } %>
      </div>
    </div>
  </body>
</html>